name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker pull
        run: docker compose pull

      - name: Docker compose up
        run: docker compose up --wait --wait-timeout 30

      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
